html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto Slab', serif;   
    background-color:#22333B;
    font-size: 20px;
    color: #FFFFFF;
}



header {
    font-size: 20px;   
    padding: 0 100px;
    text-align: right;
    color: #FFFFFF;
    background-color: #000000;

  }

main{
    line-height: 2;
}

h1{
	font-size: 2em; 
	font-weight: bold;
    text-align: left;
}


h2{
	font-size: 1em; 
	font-weight: bold;
    text-decoration: underline;
    
}

h3{
    font-size: 1em; 
	font-weight: bold;
    text-decoration: underline; 

}

h4{
    font-size: 1em; 
	font-weight: bold;
    text-decoration: underline; 
}

p, h1, h2 {
    padding: 10px;
    color:#FFFFFF;
}

footer{
    position: fixed;
    width:100%;
    min-height: 75px;
    background:#5E503F;
    text-align:center;
    color:#000000;
    margin-left: 0;
    bottom: 0px;

}





nav ul{
    list-style-type: none;
  }
  
  nav li{
    display: inline;
    padding-right: 20px;
  }
  
  nav{
    padding: 25px 0;    
    text-align: right;   
  }

  .grid-container {
    background-color: #5E503F;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: repeat(9,auto);
    row-gap: 15px;
  }
  .grid-item {
    padding: 20px;
    font-size: 30px;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
  }

  


.work{
    height: 100px;
}


a:visited{color:#FFFFFF}




a:active{
    text-decoration: underline;
}





.home a.home,
.about a.about,
.travel a.travel,
.work a.work {
background-color: #5E503F;
color: white;
}


a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
  }
  
a:hover {
    text-decoration: underline;
    color: pink;
  }
  
@media only screen and (min-width: 768px){

    .grid-item-1{
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
      }
      .grid-item-2{
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
      }  
      .grid-item-3{
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
      }  
      .grid-item-4{
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
      }  
      .grid-item-5{
        grid-column: 1 / span 1;
        grid-row: 6 / span 1;
      }  
      .grid-item-6{
        grid-column: 1 / span 1;
        grid-row: 7 / span 1;
      }  
      .grid-item-7{
        grid-column: 1 / span 1;
        grid-row: 8 / span 1;
      }  
      .grid-item-8{
        grid-column: 1 / span 1;
        grid-row: 9 / span 1;
      }  
      .grid-item-9{
        grid-column: 1 / span 1;
        grid-row: 10 / span 1;
      }
}